html,
body,
.page,
h1 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, serif;
  color: #524f54;
  background-color: #fff48f;
}

.page {
  position: absolute;
}

h1 {
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  height: 160px;
  line-height: 160px;

  font-size: 70px;
  text-align: center;
  vertical-align: middle;
}